.wrapper {
	position: relative;
}

.banner {
	margin-top: 150px;
}

.banner img {
	width: 100%;
}

.cat-container {
	margin: 6px 5%;
}

.categories_title, .products_title {
	position: relative;
}

.categories_title h1::after, 
.products_title h1::after {
	content: "";
    background: var(--main-color);
    height: 4px;
    max-width: 150px;
    display: block;
    margin-top: 10px;
}

.categories_list, .products_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px 0;
}

.categories_list-item {
	width: 15%;
	background: rgb(245, 245, 245);
}

.categories_list-item .item-img img {
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	width: 30%;
}

.categories_list-item .item-title {
	text-align: center;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding-bottom: 20px;
}

.card {
	flex: 0 0 calc(16.666% - 17px); /* 16.666% = 100% / 6 items, subtract some space for gaps */
    min-width: 200px; /* Minimum width for each card */
    box-sizing: border-box;
    border: none;
}

