@charset "UTF-8";

    body {
        font-family: Arial, sans-serif;
    }
	
	
    .wrapper{
       	display:flex;
       		margin-left: 200px;
	padding-top: 120px;
    }
   
    .container {
        height: 100vh;
        margin-left:10px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }	
    
    .container div {
        display: block;
    }
    
    #products{
        list-style: none;
        max-height: 50%; /* Set a maximum height for the product list */
   	 	overflow-y: auto;
    }